@media (max-width: 640px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
  }
  .parallax {
    left: 0;
    width: 100vw;
    height: 1000px;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    z-index: 9;
    display: none;
  }
  .parallaxSm {
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    z-index: 9;
    /*margin-top: 100px;*/
  }
  .smImageCont{
    position: absolute;
    inset: 0;
    z-index: 10;


  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
  }
  .overlayText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 25%;
    left: 3%;
    width: 94%;
    z-index: 11;
    padding: 50px;
    /*background: rgba(255, 255, 255, 0.19);*/
    /*border-radius: 0px;*/
    /*backdrop-filter: blur(3px);*/
    /*-webkit-backdrop-filter: blur(5px);*/
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    /*box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);*/
    overflow: hidden;
  }
  .overlayText h1 {
    font-size: 3rem;
    color: white;
    z-index: 12;
  }
  .buttonCont{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    gap: 20px;
  }
  .wowButton2{
    width: 150px;
    margin-top: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
  }
  .wowButton2:active{
    width: 150px;
    margin-top: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
  }
}

@media (min-width: 640px) {
  .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: 100%;
    overflow: hidden;
    z-index: 9;
  }
  .parallaxSm {
    display: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
  }
  .overlayText {
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: 11;
    padding: 50px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 0px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
  }

  .overlayText h1{
    font-size: 4vw;
    line-height: 1.4;
    color: white;
  }
  .buttonCont{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
    gap: 20px;
  }
  .wowButton2{
    width: 150px;
    margin-top: 10px;

    color: white;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid white;
  }
  .wowButton2:hover{
    color: white;
    background-color:  rgba(255, 255, 255, 0.19);
    border: 2px solid white;
  }
}
