@media only screen and (max-width: 640px) {
    .parallax {
        width: 100vw;
        height: 70vh;
        overflow: hidden;
        position: relative;
        z-index: 2;
        display: grid;
        place-items: center;
        margin-top: 40px;

    }


    .parallaxImgCont {
        display: none;
    }
    .parallaxImgContSm {
        position: relative;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .parallaxImg {
        position: relative;
        margin-top: 70vh;
        width: 100vw;
        height: 100vh;

    }
}

@media only screen and (min-width: 640px) {
    .parallax {
        left: 0;
        top: 0;
        width: 35vw;
        height: 70vh;
        overflow: hidden;
        position: relative;
        z-index: 2;
        display: grid;
        place-items: center;

    }

    .parallaxImgContSm {
        display: none;
    }
    .parallaxImgCont {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100vh + 70vh);
        z-index: 1;
    }

    .parallaxImg {
        position: relative;
        margin-top: 70vh;
        width: 100%;
        height: 100vh;

    }
}